.home {
    background-color: #282c34;
    color: #61dafb;
}

.proyectos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    text-align: center;
}

.proyecto {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
    width: 50%;
}

.enlacesProyecto {
    height: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.enlacesProyecto a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5rem;
}





@media screen and (orientation: portrait), 
    (min-width: 600px) and (max-width: 1000px){
    .proyectos {
        flex-direction: column;
    }

    .proyecto {
        width: 100%;
    }
}

