.home {
    padding-top: 3rem;
    background-color: #282c34;
    color: white;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 80%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 5px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(148deg, rgba(240,56,27,1) 22%, rgba(219,216,56,1) 78%);
    padding: 2rem;
    box-shadow: 9px 10px 7px 0px #121413;
    
}

.titulo div {
    width: 100%;
    border: 1px solid;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.proyectos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.5rem;
    text-align: center;
}

.proyecto {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 42rem;
    height: 25rem;
}

.proyecto--imagen-simondice {
    width: 100%;
    background-image: url('../../imagenes/SimonDice.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: 1px solid rgba(240,56,27,0.85);
    border-radius: 30px;
}

.proyecto--imagen-buscador {
    width: 100%;
    background-image: url('../../imagenes/Buscador.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: 1px solid rgba(240,56,27,0.85);
    border-radius: 30px;
}

.proyecto--descripcion {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(148deg, rgba(240,56,27,0.85) 22%, rgba(219,216,56,0.85) 78%);
    border-radius: 30px;
}


.nombreYResumen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.notvisible {
    display: none;
}

.texto--descripcion {
    margin-bottom: 1.5rem;
    width: 70%;
    font-size: 1.5rem;
}

.enlacesProyecto {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.enlacesProyecto a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

@keyframes mostrardescripcion {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ocultardescripcion {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.anim-ocultar {
    animation-name: ocultardescripcion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.anim-mostrar {
    animation-name: mostrardescripcion;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@media screen and (orientation: portrait), 
    (min-width: 600px) and (max-width: 1000px){

    .proyectos {
        flex-direction: column;
    }

    .proyecto {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 17rem;
        width: 30rem;
    }

    .proyecto--imagen-simondice, .proyecto--imagen-buscador {
        height: 100%;
    }

    .texto--descripcion {
        width: 100%;
    }

    .enlacesProyecto {
        justify-content: space-around;
    }
}

