.contenedor-app-simon {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: #dc3545; */
}

.contenedor-luces {
    height: 16rem;
    width: 16rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    border-radius: 50%;
}

.contenedor-inicio-finalizar {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-nivel-aviso-luces {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
}

.luz-verde {
    background-color: #9af311;
    border-top-left-radius: 100%;
}

.luz-roja {
    background-color: #ff0000;
    border-top-right-radius: 100%;
}

.luz-amarilla {
    background-color: #ffff00;
    border-bottom-left-radius: 100%;
}

.luz-azul {
    background-color: #0000ff;
    border-bottom-right-radius: 100%;
}


.verde-iluminada {
    background-color: #defdaf;
}

.roja-iluminada {
    background-color: #fab9b9;
}

.amarilla-iluminada {
    background-color: #fcfcda;
}

.azul-iluminada {
    background-color: #b2b2fa;
}


  @media screen and (min-width: 640px) and (max-width: 1000px) and (orientation: landscape) {
    .contenedor-app-simon {
        flex-direction: row;
    }

    .contenedor-luces {
        height: 14rem;
        width: 14rem;
    }
    
    .contenedor-nivel-aviso-luces {
        height: 100%;
        width: 50%;
        justify-content: center;
    }
  }



