.icon-height {
    height: 2rem;
}

.contenedor-luces {
    height: 16rem;
    width: 16rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    background-color: aquamarine;
    border-radius: 50%;
}

.luz-verde {
    background-color: greenyellow;
    border-top-left-radius: 100%;
}

.luz-roja {
    background-color: red;
    border-top-right-radius: 100%;
}

.luz-amarilla {
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.luz-azul {
    background-color: blue;
    border-bottom-right-radius: 100%;
}


.verde-iluminada {
    background-color: #d7ff9a;
}

.roja-iluminada {
    background-color: #f15e5e;
}

.amarilla-iluminada {
    background-color: #f7f75f;
}

.azul-iluminada {
    background-color: #5050fb;
}


.luz-verde-bloqueada {
    background-color: greenyellow !important;
}

.luz-roja-bloqueada {
    background-color: red !important;
}

.luz-amarilla-bloqueada {
    background-color: yellow !important;
}

.luz-azul-bloqueada {
    background-color: blue !important;
}